.wrapper {
    display:flex;
    justify-content: space-around;
}

.container {
    width: 100%;
    min-height: 1000px;
    display: flex;
    padding: 0 var(--default-layout-width-horizontal-spacer);
}

.content {
    flex: 1;
    min-height: 1000px;
}