.wrapper {
    padding-top: var(--default-layout-header-height);
    display:flex;
    justify-content: space-around;
}

.container {
    width: 100%;
    min-height: 1000px;
    display: flex;
}

.content {
    margin-left: 232px;
    min-height: 1000px;
}